/******************************* AMBIENTE 1 ********************************/
.imgButtonsCss1{
    border: 0px;
    background-color: #A2cabc;
    color: black;
    width: 120px;
    height:30px;
    border:thin;
    border-color:rgba(100,100,100, 0.5);
    border-width:1px;
    border-style:solid;
    border-color:none;
    font-family:verdana;
    color: black;
    font-size:12px;
    font-weight:bold;
    border-radius: 0.3em;
}

.imgButtonsCss1:hover{
    background-color: #195748;
    font-weight:bold;
}

.imgButtonCaptionCss1{
    color:black;
    font-size: 11px;
    font-family:verdana;
    font-weight:bold;
}

.imgButtonCaptionCss1:hover{
    color: white;
}
/****************************AMBIENTE 2************************************************/

.imgButtonsCss2{
    border: 0px;
    background-color: rgb(0, 0, 0, 0.9);
    color: black;
    width: 120px;
    height:30px;
    border:thin;
    border-color:rgba(100,100,100, 0.5);
    border-width:1px;
    border-style:solid;
    border-color:none;
    font-family:verdana;
    color: white;
    font-size:12px;
    font-weight:bold;
    border-radius: 0.3em;
}

.imgButtonsCss2:hover{
    background-color: rgb(237, 156, 106);
    font-weight:bold;
}

.imgButtonCaptionCss2{
    color:white;
    font-size: 11px;
    font-family:verdana;
    font-weight:bold;
}

.imgButtonCaptionCss2:hover{
    color: #000000;
}